{% extends 'app/main.html' %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
   <!-- Page Heading -->
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Panel pacjenta</h1>

   </div>

   
   <div class="row">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-6 col-md-12 mb-4">
         <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div
                        class="text-xs font-weight-bold text-success text-uppercase mb-1"
                        >
                        Wszystkie pomiary
                     </div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">{{measuresAmount}}</div>
                  </div>
                  <div class="col-auto">
                     <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-6 col-md-12 mb-4">
         <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div
                        class="text-xs font-weight-bold text-info text-uppercase mb-1"
                        >
                        Imię i nazwisko
                     </div>
                     <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                           <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                              {{patient.firstName}} {{patient.lastName}}
                           </div>
                        </div>

                     </div>
                  </div>
                  <div class="col-auto">
                     <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
   <!-- Content Row -->

<div class="row">
   <!-- Area Chart -->
   <div class="col-xl-12 col-md-12">

      <div class="card shadow mb-4">
         <div class="card-header py-3">
           <div class="d-flex justify-content-between">
            <div class="my-auto">
               <h6 class=" font-weight-bold">Wykres BMI</h6>
            </div>
           </div>
         </div>
         <div class="card-body">

               <div style="container">
                  <canvas  id="myChart" height="80px"></canvas>

               </div>
                

         </div>
      </div>
   </div>
</div>

   
   <div class="row">
      <!-- Area Chart -->
      <div class="col-xl-12 col-md-12">

         <div class="card shadow mb-4">
            <div class="card-header py-3">
              <div class="d-flex justify-content-between">
               <div class="my-auto">
                  <h6 class=" font-weight-bold">Pomiary</h6>
               </div>
              </div>
            </div>
            <div class="card-body">
               <div class="table-responsive">
                  <table
                     class="table table-bordered"
                     id="dataTable"
                     width="100%"
                     cellspacing="0"
                     >
                     <thead>
                        <tr>
                           <th>ID pomiaru</th>
                           <th>Masa ciała</th>
                           <th>Wzrost</th>
                           <th>Wiek</th>
                           <th>BMW</th>
                           <th>Data pomiaru</th>
                        </tr>
                     </thead>

                     <tbody>
                        <tr>
                           {% for measure in measures %}
                        <tr>
                           <td>{{measure.id}}</td>
                           <td>{{measure.bodyWeight}} kg</td>
                           <td>{{measure.height}} cm</td>
                           <td>{{measure.age}} lat</td>
                           <td>{{measure.bmi}}</td>
                           <td>{{measure.measureDate | date:"d M Y H:i"}}</td>
                        </tr>
                        {% endfor %}
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script>
   
   const ctx = document.getElementById('myChart');

   let labels = [];
   let datapoints = [];

   datapoints= [
   {% for measure in measures %}
      {{ measure.bmi }},
   {% endfor %}];

   labels = [ {% for measure in measures %}
   "{{ measure.measureDate | date:"d M Y H:i"}}",
{% endfor %}];

const data = {
  labels: labels,
  datasets: [
    {
      label: 'Wartość BMI',
      data: datapoints,
      fill: false,
      borderColor: '#1cc88a',
      backgroundColor: '#1cc88a',
      cubicInterpolationMode: 'monotone',
      tension: 0.4,
      
    }
  ]
};

const config = {
   type: 'line',
   data: data,
   options: {
     responsive: true,
     plugins: {
       title: {
         display: true,
         text: 'Wykres BMI pacjenta'
       },
     },
     interaction: {
       intersect: false,
     },
     scales: {
       x: {
         display: true,
         title: {
           display: true,
           text: 'Data pomiaru'
         }
       },
       y: {
         display: true,
         title: {
           display: true,
           text: 'Wartość BMI'
         },
         suggestedMin: -10,
         suggestedMax: 200
       }
     }
   },
 };

   new Chart(ctx, config);

 </script>










{% comment %} <script>

   const config = {
      type: 'line',
      data: data,
      options: {
        responsive: true,
        plugins: {
          title: {
            display: true,
            text: 'Chart.js Line Chart - Cubic interpolation mode'
          },
        },
        interaction: {
          intersect: false,
        },
        scales: {
          x: {
            display: true,
            title: {
              display: true
            }
          },
          y: {
            display: true,
            title: {
              display: true,
              text: 'Value'
            },
            suggestedMin: -10,
            suggestedMax: 200
          }
        }
      },
    };


   const DATA_COUNT = 12;
   const labels = [];
   for (let i = 0; i < DATA_COUNT; ++i) {
     labels.push(i.toString());
   }
   const datapoints = [0, 20, 20, 60, 60, 120, NaN, 180, 120, 125, 105, 110, 170];
   const data = {
     labels: labels,
     datasets: [
       {
         label: 'Cubic interpolation (monotone)',
         data: datapoints,
         borderColor: Utils.CHART_COLORS.red,
         fill: false,
         cubicInterpolationMode: 'monotone',
         tension: 0.4
       }, {
         label: 'Cubic interpolation',
         data: datapoints,
         borderColor: Utils.CHART_COLORS.blue,
         fill: false,
         tension: 0.4
       }, {
         label: 'Linear interpolation (default)',
         data: datapoints,
         borderColor: Utils.CHART_COLORS.green,
         fill: false
       }
     ]
   };

</script> {% endcomment %}







{% comment %} 
<script type="text/javascript">
   // $('#alertNotification').hide();
    let url = `ws://${window.location.host}/ws/notifications/`

    const chatSocket = new WebSocket(url)
    chatSocket.onmessage = function(e){
      let data = JSON.parse(e.data)

      let alertNotification = document.querySelector("#alertNotification")


   alertNotification.insertAdjacentHTML('beforeend', `      
   <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong><h4 class="alert-heading">${data.topic}</h4></strong>
  <p>${data.message}</p>
  <hr>
  <p class="mb-0">Czas powiadomienia: ${data.plannedOnDate}, lekarz: ${data.doctorFullName}</p>
  
   </div>
      `)
    }

</script> {% endcomment %}

{% endblock %}